{% extends "base.html" %}
{% load static %}

{% block page_header %}
   <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Welcome to SaJoe Gym and Fitness
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

     <section id="site-schedule" class="newsection jumbotron">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section">GROUP TRAINING SCHEDULE</h2>
                <h6 class="section">Registered Members are invited to join the group training<br>Below are the weekly schedule</h6>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Days</th>
                            <th scope="col">First Session</th>
                            <th scope="col">Second Session</th>
                            <th scope="col">Third Session</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Monday</th>
                            <td>09:00-11:00</td>
                            <td>13:00-15:00</td>
                            <td>18:00-20:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Wednesday</th>
                            <td>09:00-11:00</td>
                            <td>13:00-15:00</td>
                            <td>18:00-20:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Friday</th>
                            <td>09:00-11:00</td>
                            <td>13:00-15:00</td>
                            <td>18:00-20:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Saturday</th>
                            <td>12:00-14:00</td>
                            <td>13:00-15:00</td>
                            <td>18:00-20:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="about-us">
     <div id="site-about" class="row jumbotron">
      <div class="col-md-6 about-text">
        <h1>BECOME A MEMBER</h1>
        <h5 class="text-uppercase">At <em>SaJoe-Gym</em> you will find the best atmosphere and training inspiration.</h5>
        <p><em>SAJOE</em> Gym stands for training, knowledge and community, and has a solid and successful competition culture within Bodybuilding & Fitness. Everyone with the same interest - to exercise and feel good. Whatever your training background,
          you will feel right at home in this family atmosphere. Welcome to us and be inspired!</p>
        <div class="fees">
          <div class="card rounded" style="color: black; background-color:#efefef;">
            <h3 class="text-uppercase card-title">Membership:</h3>
            <div class="card-body">
              <p><em><b>No binding times or hidden fees.</b>  You are always welcome to try it for free the first time!</em></p>
              <tbody>
                <tr>
                  <th scope="row">One Off-Training:</th>
                  <td>Sek 100</td>
                </tr>
              </tbody>
              <div>
                <tbody>
                  <tr>
                    <th scope="row">Clip-Card 10 Times:</th>
                    <td>Sek 850</td>
                  </tr>
                </tbody>
              </div>
              <div>
                <tbody>
                  <tr>
                    <th scope="row">Monthly Card:</th>
                    <td>Sek 450</td>
                  </tr>
                </tbody>
              </div>
              <div>
                <tbody>
                  <tr>
                    <th scope="row">Quarterly Card:</th>
                    <td>Sek 1200</td>
                  </tr>
                </tbody>
              </div>
              <div>
                <tbody>
                  <tr>
                    <th scope="row">Half a yea Cardr:</th>
                    <td>Sek 1600</td>
                  </tr>
                </tbody>
              </div>
              <div>
                <tbody>
                  <tr>
                    <th scope="row">Annual Card:</th>
                    <td>Sek 5000</td>
                  </tr>
                </tbody>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
    <div class="row"> 
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
        <form>
            <div id="form">
                <div class="form-row">
                    <div class="col">
                        <label for="inputfirstname">First Name</label>
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <label for="inputlastname">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Check me out
                        </label>
                    </div>
                </div>
                <center><button type="submit" class="btn btn-primary">Submit</button></center>
            </div>
         </form>
         </div>
     <div class="col-md-3">
     </div>
 </div>
</div>
    

    </div>   

  </section>
{% endblock %}

