{% extends "base.html" %}
{% load static %}

{% block page_header %}
   <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Welcome to SaJoe Gym and Fitness online store!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

     <section id="site-schedule" class="newsection jumbotron">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section">GROUP TRAINING SCHEDULE</h2>
                <h6 class="section">Registered Members are invited to join the group training<br>Below are the weekly schedule</h6>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Days</th>
                            <th scope="col">First Session</th>
                            <th scope="col">Second Session</th>
                            <th scope="col">Third Session</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Monday</th>
                            <td>09:00-11:00</td>
                            <td>13:00-15:00</td>
                            <td>18:00-20:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Wednesday</th>
                            <td>09:00-11:00</td>
                            <td>13:00-15:00</td>
                            <td>18:00-20:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Friday</th>
                            <td>09:00-11:00</td>
                            <td>13:00-15:00</td>
                            <td>18:00-20:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Saturday</th>
                            <td>12:00-14:00</td>
                            <td>13:00-15:00</td>
                            <td>18:00-20:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="about-us">
     <div id="site-about" class="row jumbotron">
      <div class="col-md-6 about-text">
        <h1>ABOUT US</h1>
        <h5 class="text-uppercase">At <em>SaJoe-Gym</em> you will find the best atmosphere and training inspiration.</h5>
        <p><em>SAJOE</em> Gym stands for training, knowledge and community, and has a solid and successful competition culture within Bodybuilding & Fitness. Everyone with the same interest - to exercise and feel good. Whatever your training background,
          you will feel right at home in this family atmosphere. Welcome to us and be inspired!</p>
        <p> We also have an online store where you can buy materials needed for training and workout, but at home and in our gym. Click the 'SHOP NOW' button on the top of this page and start shopping.</p>  
        <div class="fees">
          <div class="card rounded" style="color: black; background-color:#efefef;">
            <h3 class="text-uppercase card-title">Membership:</h3>
            <div class="card-body">
              <p><em><b>No binding times or hidden fees.</b>  You are always welcome to try it for free the first time!</em></p>
              <tbody>
                <tr>
                  <th scope="row">One Off-Training:</th>
                  <td>Sek 100</td>
                </tr>
              </tbody>
              <div>
                <tbody>
                  <tr>
                    <th scope="row">Clip-Card 10 Times:</th>
                    <td>Sek 850</td>
                  </tr>
                </tbody>
              </div>
              <div>
                <tbody>
                  <tr>
                    <th scope="row">Monthly Card:</th>
                    <td>Sek 450</td>
                  </tr>
                </tbody>
              </div>
              <div>
                <tbody>
                  <tr>
                    <th scope="row">Quarterly Card:</th>
                    <td>Sek 1200</td>
                  </tr>
                </tbody>
              </div>
              <div>
                <tbody>
                  <tr>
                    <th scope="row">Half a yea Cardr:</th>
                    <td>Sek 1600</td>
                  </tr>
                </tbody>
              </div>
              <div>
                <tbody>
                  <tr>
                    <th scope="row">Annual Card:</th>
                    <td>Sek 5000</td>
                  </tr>
                </tbody>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="col-md-6 about-text">
        <h1>VISIT US AND REGISTER TO TRAIN AT OUR GYM </h1>
        <h5 class="text-uppercase">At <em>SaJoe-Gym</em> you can visit our address where our exclusive gym is located and register to be a member.</h5>
        <p> Presently you can only register at our gym front desk as a member and get your access card. <em><b>NOTE: online registeration for membership is not available at the moment!</b></em>
        </p>
        <p> We are committed to make you have the best experience and satisfaction in both our stores and gym. Your satisfaction is our priority and we look forward to always have you around. Thanks for visiting our gym and fitness store online</p>  
        <div class="fees">
          <div class="card rounded" style="color: black; background-color:#efefef;">
            <h3 class="text-uppercase card-title">Address:</h3>
            <div class="card-body">
              <p><em><b>Kungshornets 5</b></em></p>
              <p><em><b>19558 Stockholm</b></em></p>
            <div>
              <tbody>
                <tr>
                  <th scope="row">Mobile:</th>
                  <td>0764495000</td>
                </tr>
              </tbody>
            </div>
            <div>
                <tbody>
                  <tr>
                    <th scope="row">Phone:</th>
                    <td>0842563889</td>
                  </tr>
                </tbody>
              </div>
            <div>
                <tbody>
                  <tr>
                    <th scope="row">Email:</th>
                    <td>sajoegym@net.com</td>
                  </tr>
                </tbody>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>   

  </section>

  <footer class="footer-fluid bg-dark" style="color: #efefef;">
        <div class="footer">
            <div id="footer-text" class="row">
                <div class="col-md-3">
                    <h4 class="footer-heading mb-3">Contact Us</h4>
                    <p>Kungshornet 5 19558 Marsta Stockholm Sweden.<br><a href="email">sagie.ighodaro@yahoo.co.uk</a><br>+46764495000 </p>
                </div>
                <div class="col-md-8 ml-auto">
                    <div class="row">
                        <div class="col-lg-6 ml-auto">
                            <h4 class="footer-heading mb-4">Social Media</h4>
                            <ul class="list-inline links">
                                <li class="list-inline-item">
                                    <a target="_blank" href="#">
                      <i class="fa fa-facebook"></i>
                      <span class="sr-only">Facebook</span>
                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a target="_blank" href="#">
                      <i class="fa fa-instagram"></i>
                      <span class="sr-only">Instagram</span>
                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a target="_blank" href="#">
                      <i class="fa fa-twitter"></i>
                      <span class="sr-only">Twitter</span>
                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a target="_blank" href="#">
                      <i class="fa fa-linkedin"></i>
                      <span class="sr-only">Linkedin</span>
                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

