<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fitness-kits-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fitness Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="our-gym-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Gym
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Become a member</a>
                <a href="" class="dropdown-item">Group Training</a>
                <a href="" class="dropdown-item">Opening Hours</a>
                <a href="" class="dropdown-item">Price</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contact-us-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Email Us</a>
                <a href="" class="dropdown-item">Visit Us</a>
            </div>
        </li>
    </ul>
</div>